{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
  <hr>
{% endblock %}

{% block content %}
  {% if business.isNew %}
    {% set action = '/businesses' %}
  {% else %}
    {% set action = '/businesses/' + business._id %}
  {% endif %}

  <div class="row">
    <div class="col-md-8">
      <form method="post" action="{{ action }}" enctype="multipart/form-data" role="form" class="form-horizontal">

        <input type="hidden" name="_csrf" value="{{ csrf_token }}">

        {% if not business.isNew %}
          <input type="hidden" name="_method" value="PUT">
        {% endif %}

        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" value="{{ business.name }}" placeholder="Enter the name" class="form-control" id="name">
          </div>
        </div>

        <div class="form-group">
          <label for="file" class="col-sm-2 control-label">Image</label>
          <div class="col-sm-10">
            <input type="file" name="image" class="form-control" id="file">
          </div>
        </div>

        <div class="form-group">
          <label for="desc" class="col-sm-2 control-label">Body</label>
          <div class="col-sm-10">
            <textarea rows="5" name="description" placeholder="Enter the business description" id="desc" cols="30" rows="10" class="form-control">{{ business.description }}</textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="tags" class="col-sm-2 control-label">Tags</label>
          <div class="col-sm-10">
            <input type="text" name="tags" value="{{ business.tags }}" placeholder="Enter the tags" class="form-control" id="tags">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">Save</button>
            &nbsp;
            <a href="/businesses" class="btn btn-link">Cancel</a>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      {% if (!business.isNew && business.image && business.image.files && business.image.files.length) %}
        <img src="{{ business.image.cdnUri + '/mini_' + business.image.files[0] }}" alt="">
      {% endif %}
    </div>
  </div>
{% endblock %}
