{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
  {% if (businesses.length) %}
    {% for business in businesses %}
      {% include 'business.html' %}
    {% endfor %}

    {% if (pages > 1) %}
      <ul class="pagination">
        {% autoescape false %}
          {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    {% endif %}
  {% else %}
    <h4 class="muted">
      No businesses.&nbsp;
      <a href="/businesses/new">create one</a>
    </h4>
  {% endif %}
{% endblock %}
