{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ business.name }}</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <p>Description: {{ business.description }}</p>
      <div class="meta">
        {% if (business.user) %}
          Author: &nbsp;
          <a href="{{ '/users/' + business.user._id }}">
            {{ business.user.name || business.user.username }}
          </a>
        {% endif %}
        {% if (business.tags) %}
          <p>
            Tags: &nbsp;
            {% for tag in business.tags.split(',') %}
              <i class="muted fa fa-tag"></i>&nbsp;
              <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
              &nbsp;&nbsp;
            {% endfor %}
          </p>
        {% endif %}
        <span class="muted">{{ business.createdAt.toISOString()|date('M d, Y  h:i a') }}</span>
      </div>
    </div>
    <div class="col-md-4">
      {% if (!business.isNew && business.image && business.image.files && business.image.files.length) %}
        <img src="{{ business.image.cdnUri + '/mini_' + business.image.files[0] }}" alt="">
      {% endif %}
    </div>
  </div>

  <form action="{{ '/businesses/' + business.id }}" method="post" onsubmit="return confirm('Are you sure?')">
    <br>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <a href="{{ '/businesses/' + business._id + '/edit' }}" title="edit" class="btn btn-default">
      Edit
    </a>
    &nbsp;
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>

  <br>
  <h1>Create a new event</h1>
  {% include '../events/form.html' %}
{% endblock %}
